body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: monospace;
  background-color: rgb(248, 248, 248);
}

.center-table {
  margin: auto;
}

.request-table {
  margin: auto;
}

.email-form {
  margin: auto;
}

.text-center {
  margin: auto;
}

.card-title {
  background-color: rgb(247, 220, 220);
}

.App {
  text-align: center;
  font-size: 1.2em;
  min-height: 100vh;
}

.App-header {
  background-color: #c30f08;
  padding: 20px;
  color: white;
}

.App-header a {
  color: rgb(255, 255, 255);
  padding: 0 5px;
  font-size: 1.3em;
}

.App-title {
  font-size: 2.6em;
  background-color: #c30f08;
}

.App-intro {
  font-size: large;
}

.non-footer {
  min-height: calc(
    100vh - 70px
  ); /* 60px for img + 10px for margin top footer */
}
.requestCards {
  display: inline-block;
}
.Home {
  margin-right: 55px;
  margin-left: 55px;
}
footer {
  /* position: fixed; */
  margin-top: 10px;
  width: 100%;
  height: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
}
footer img {
  height: 60px;
  width: 100%;
  object-fit: cover;
}
